#wrapper {
   margin: 0 20%;
}

#game-wrapper {
   display: grid;
   grid-template-columns: 2fr 1fr 2fr;
}

#oppAction {
   font-size: 20em;
   text-align: center;
}

#vs {
   display: flex;
   align-items: center;
   justify-content: center;
}

#player-wrapper,
#opp-wrapper {
   display: grid;
   grid-template-rows: 5fr 1fr;
}

#playerAction {
   font-size: 20em;
}

.flipPlayerAction {
   transform: scaleX(-1);
   -moz-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   -ms-transform: scaleX(-1);
}

#choices {
   padding: 1em;
}

.opp-shaking,
.player-shaking {
   position: relative;
   animation-name: shake;
   animation-duration: 0.25s;
   animation-iteration-count: 3;
}

.opp-shaking {
   transform: scaleX(-1) rotate(90deg);
}

.player-shaking {
   transform: rotate(90deg);
}

@keyframes shake {
   0% {
      left: 0px;
      top: 0px;
   }
   50% {
      left: 0px;
      top: 0.1em;
   }
   100% {
      left: 0px;
      top: 0px;
   }
}
